@model IEnumerable<StayFit.Models.Domain.DietPlan>

<div class="card shadow p-4 mb-4">
    <h3 class="fw-bold text-warning text-center mb-3">
        🥗 Weight Gain Diet Plan
    </h3>

    <ul class="list-group fw-bold">
        @if (Model != null && Model.Any())
        {
            foreach (var meal in Model)
            {
                <li class="list-group-item">
                    @meal.Description (@meal.Meal)
                </li>
            }
        }
        else
        {
            <li class="list-group-item text-muted">No diet plan available.</li>
        }
    </ul>
</div>
