@model List<StayFit.Models.Domain.Announcement>

<div class="card shadow p-4">
    <h4 class="fw-bold mb-3">🔔 Notifications</h4>

    <ul id="notificationList" class="list-group">
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <li class="list-group-item">
                    @item.Message
                    <br />
                    <small class="text-muted">@item.DateCreated.ToLocalTime().ToString("g")</small>
                </li>
            }
        }
        else
        {
            <li class="list-group-item">No notifications</li>
        }
    </ul>
</div>

