/* _content/StayFit/Views/Shared/_Layout.cshtml.rz.scp.css */
/* ------------------------------------
   Navbar
------------------------------------ */
.navbar-custom[b-usk5w069ij] {
    background-color: #ff4da6; /* soft pink */
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.navbar-custom .nav-link[b-usk5w069ij] {
    color: white !important;
    font-weight: 600;
}

.navbar-custom .nav-link:hover[b-usk5w069ij] {
    color: #ffe6f2 !important;
}

.navbar-logo[b-usk5w069ij] {
    height: 30px; /* smaller logo */
    width: auto;  /* maintain aspect ratio */
}

/* ------------------------------------
   Footer
------------------------------------ */
footer[b-usk5w069ij], .footer[b-usk5w069ij] {
    background-color: #000 !important;
    color: white !important;
    padding: 25px 0;
    text-align: center;
    width: 100%;
    position: relative;
}

footer a[b-usk5w069ij] {
    color: white !important;
}

/* Extra spacing between boxes and footer */
.page-bottom-space[b-usk5w069ij] {
    height: 80px;
}

/* ------------------------------------
   Responsive
------------------------------------ */
@media (max-width: 767px) {
    .navbar .nav-link[b-usk5w069ij] { font-size: 14px; }
    .navbar-logo[b-usk5w069ij] { height: 30px; }
}
