
.hero-section {
    height: 75vh;
    width: 100%;
    overflow: hidden;
}

.hero-image {
    width: 100%;
    height: 100vh; 
    object-fit: cover; 
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.45); 
    padding: 20px 30px;
    border-radius: 10px;
}
.nav-link:hover {
    color: #0e3a7d !important; 
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #000; 
    color: white;
    padding: 10px 0;
    z-index: 10;
}

